        <footer >
            <div class="container">
                footer
            </div>
        </footer>
    </div> <!-- Wrapper Ends -->
    
    <script src="../main.bundle.js"></script>
</body>
</html>