<%- include('../partials/_head', { title: 'Home'}) %>

<main role="main">
    <div class="container">
        Home Main

        <a href="/secondary">Secondary Page</a>
    </div>
</main>

<%- include('../partials/_footer') %>